{% extends 'accounts/base.html' %}

{% block title %}
<title>Forgot Password| AirXi</title>
{% endblock title %}


{% block content %}

<div class="form">
    <div class="thereafter">
        <p><span>Ride with AIRXI </span><br> You would receive email with further instructions</p>
    </div>
    <div class="reg">
        <form action="{% url 'password_reset' %}" method='post'>
            {% csrf_token %}

            <div class="form-field">
                <input type="email" name="email" id="" placeholder="Email Address" class="edit" required>
                <span class="error"><i>Looks like this is not an email</i></span>
            </div>

            <button type="submit" class="claim">SUBMIT</button>

        </form>
    </div>


</div>


{% endblock content %}

